In [243]:
from sqlalchemy import create_engine, desc, func
from sqlalchemy.orm import sessionmaker
 
from puppies import Base, Shelter, Puppy
#from flask.ext.sqlalchemy import SQLAlchemy
from random import randint
import datetime
import random
from datetime import date,timedelta, datetime

engine = create_engine('sqlite:///puppyshelter.db')

Base.metadata.bind = engine
 
DBSession = sessionmaker(bind=engine)

session = DBSession()

In [244]:
puppies_by_name = session.query(Puppy).order_by('name')

In [245]:
puppies_by_name[0].name

u'Abby'

In [246]:
for i in range(10):
    print puppies_by_name[i].name, puppies_by_name[i].id

Abby 62
Angel 69
Annie 72
Bailey 1
Bailey 59
Bandit 32
Baxter 31
Bear 15
Beau 44
Bella 51

In [247]:
young = puppies.filter(Puppy.dateOfBirth>=date.today() - timedelta(360))

In [248]:
for i in range(10):
    print young[i].name, young[i].dateOfBirth

Bailey 2015-07-29
Bailey 2016-02-19
Bandit 2016-03-07
Baxter 2015-08-30
Bear 2015-04-13
Beau 2015-09-24
Bella 2015-09-28
Belle 2016-01-12
Bentley 2015-10-21
Boomer 2015-11-30

In [249]:
puppies_by_weight = session.query(Puppy).order_by(desc('weight'))

In [250]:
for i in range(10):
    print puppies_by_weight[i].name, puppies_by_weight[i].id

Milo 35
Luke 49
Beau 44
Rocco 40
Dakota 100
Romeo 47
Henry 50
Zeus 29
Bruno 43
Ginger 63

In [251]:
puppies_by_shelter = session.query(func.count(Puppy.name),Puppy.shelter_id).group_by(Puppy.shelter_id)

In [252]:
print 'N#','Shelter:'
print
for i,j in puppies_by_shelter:
    print i,session.query(Shelter).filter(Shelter.id==j).one().name

N# Shelter:

21 Oakland Animal Services
13 San Francisco SPCA Mission Adoption Center
22 Wonder Dog Rescue
22 Humane Society of Alameda
22 Palo Alto Humane Society